@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}



/* Hide scrollbar globally */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none; /* Firefox */
}

/* Optional: For smooth scrolling still */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
